<!DOCTYPE html>
<html ng-app="myapp" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Code & Preview</title>

    <!-- build:js js/lib.js -->
    <script type="text/javascript" src="scripts/layout/jquery.js"></script>
    <script type="text/javascript" src="scripts/layout/jquery-ui.js"></script>
    <script type="text/javascript" src="scripts/layout/jquery.layout.js"></script>
    <script type="text/javascript" src="scripts/layout/bootstrap.min.js"></script>
    <script type="text/javascript" src="scripts/layout/keyboard.min.js"></script>

    <script type="text/javascript" src="scripts/compilers/less.config.js"></script>

    <script type="text/javascript" src="scripts/compilers/less.min.js"></script>
    <script type="text/javascript" src="scripts/compilers/coffee-script.min.js"></script>
    <script type="text/javascript" src="scripts/compilers/jade.min.js"></script>
    <script type="text/javascript" src="scripts/compilers/markdown.min.js"></script>
    <script type="text/javascript" src="scripts/compilers/sass.sync.min.js"></script>
    <script type="text/javascript" src="scripts/compilers/stylus.min.js"></script>

    <script type="text/javascript" src="scripts/layout/layout.config.js"></script>

    <script src="scripts/editor/codemirror-compressed.js"></script>
    <script src="scripts/beautify/beautify.js"></script>
    <script src="scripts/beautify/beautify-css.js"></script>
    <script src="scripts/beautify/beautify-html.js"></script>
    <script src="scripts/editor/emmet.js"></script>

    <!--Linting-->
    <script src="scripts/editor/jshint.js"></script>
    <script src="scripts/editor/jsonlint.js"></script>
    <script src="scripts/editor/css-lint.js"></script>
    <script src="scripts/editor/csslint.js"></script>
    <script src="scripts/editor/html-lint.js"></script>
    <script src="scripts/editor/htmlhint.js"></script>
    <script src="scripts/editor/coffeelint.js"></script>
    <script src="scripts/editor/coffeescript-lint.js"></script>


    <script src="scripts/download/jszip.min.js"></script>
    <script src="scripts/download/FileSaver.min.js"></script>

    <script src="scripts/angular/angular.min.js"></script>
    <script src="scripts/angular/validate.min.js"></script>
    <script src="scripts/angular/ui-codemirror.js"></script>
    <script src="scripts/angular/angular-local-storage.min.js"></script>
    <!-- endbuild -->

    <!-- build:css styles/lib.css -->
    <link rel="stylesheet" type="text/css" href="styles/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="styles/cnpfonts.css">
    <link rel="stylesheet" type="text/css" href="styles/cnpfonts-animation.css">
    <link rel="stylesheet" type="text/css" href="styles/editor.css">
    <link rel="stylesheet" type="text/css" href="styles/layout.css">
    <!-- endbuild -->

    <!-- build:css styles/app.css -->
    <link rel="stylesheet" type="text/css" href="styles/styles.css">
    <!-- endbuild -->
</head>

<body ng-controller="appController as vm">
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-K6ZFDZ"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-K6ZFDZ');</script>
<!-- End Google Tag Manager -->
    <header>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                        aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><span><img src="images/logo.png" alt="logo" style="width:40px;height:25px;">Code & Preview</span> </a>

                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li ng-class="{ active: vm.actSize=='mobile'}">
                            <a data-toggle="tooltip" data-placement="bottom" title="Mobile" href="" ng-click="vm.actSize='mobile';vm.setDeviceSize(vm.settings.mobile,$event)"><i class="icon-mobile mobile"></i></a>
                        </li>
                        <li ng-class="{ active: vm.actSize=='tablet'}">
                            <a data-toggle="tooltip" data-placement="bottom" title="Tablet" href="" ng-click="vm.actSize='tablet';vm.setDeviceSize(vm.settings.tablet,$event)"><i class="icon-tablet tablet"></i></a>
                        </li>
                        <li ng-class="{ active: vm.actSize=='laptop'}">
                            <a data-toggle="tooltip" data-placement="bottom" title="Laptop" href="" ng-click="vm.actSize='laptop';vm.setDeviceSize(vm.settings.laptop,$event)"><i class="icon-laptop laptop"></i></a>
                        </li>
                        <li ng-class="{ active: vm.actSize=='desktop'}">
                            <a data-toggle="tooltip" data-placement="bottom" title="Desktop" href="" ng-click="vm.actSize='desktop';vm.setDeviceSize(vm.settings.desktop,$event)"><i class="icon-desktop desktop"></i></a>
                        </li>
                        <li ng-class="{ active: vm.actSize=='fit'}">
                            <a data-toggle="tooltip" data-placement="bottom" title="Fit" href="" ng-click="vm.actSize='fit';vm.setFitSize();"><i class="icon-resize-full-alt"></i></a>
                        </li>
                        <li>
                            <a data-toggle="tooltip" data-placement="bottom" title="Preview Window" href="" ng-click="vm.previewWindow();"><i class="icon-link-ext newwindow"></i></a>
                        </li>
                        <li>
                            <a data-toggle="tooltip" data-placement="bottom" title="Download" href="" ng-click="vm.downloadZip();"><i class="icon-download download"></i></a>
                        </li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </nav>
    </header>


    <div id="CodeContainer">

        <div ng-cloak id="menu" class="ui-layout-west">

            <div ng-repeat="file in vm.files" ng-switch on="file.ext">
                <div ng-class="{selected: file == vm.dynFile}" ng-switch-when="html" ng-mouseover="vm.hoverItem[$index] = true" ng-mouseleave="vm.hoverItem[$index] = false">
                    <i class="html icon-html5-01"></i><a href="" ng-click="vm.setEditorValue(file)">{{file.name}}</a>
                    <div class="pull-right" ng-show="vm.hoverItem[$index] || file == vm.dynFile">
                        <a href="" ng-click="vm.deleteFile($index)"><i class="delete icon-cancel"></i></a>
                    </div>
                </div>
                <div ng-switch-when="js" ng-class="{selected: file == vm.dynFile}" ng-mouseover="vm.hoverItem[$index] = true" ng-mouseleave="vm.hoverItem[$index] = false">
                    <i class="js icon-prog-js02"></i><a href="" ng-click="vm.setEditorValue(file)">{{file.name}}</a>
                    <div class="pull-right" ng-show="vm.hoverItem[$index] || file == vm.dynFile">
                        <a href="" ng-click="vm.deleteFile($index)"><i class="delete icon-cancel"></i></a>
                    </div>
                </div>
                <div ng-switch-when="css" ng-class="{selected: file == vm.dynFile}" ng-mouseover="vm.hoverItem[$index] = true" ng-mouseleave="vm.hoverItem[$index] = false">
                    <i class="css icon-css3-01"></i><a href="" ng-click="vm.setEditorValue(file)">{{file.name}}</a>
                    <div class="pull-right" ng-show="vm.hoverItem[$index] || file == vm.dynFile">
                        <a href="" ng-click="vm.deleteFile($index)"><i class="delete icon-cancel"></i></a>
                    </div>
                </div>
                <div ng-switch-when="less" ng-class="{selected: file == vm.dynFile}" ng-mouseover="vm.hoverItem[$index] = true" ng-mouseleave="vm.hoverItem[$index] = false">
                    <i class="less icon-css3-01"></i><a href="" ng-click="vm.setEditorValue(file)">{{file.name}}</a>
                    <div class="pull-right" ng-show="vm.hoverItem[$index] || file == vm.dynFile">
                        <a href="" ng-click="vm.deleteFile($index)"><i class="delete icon-cancel"></i></a>
                    </div>
                </div>
                <div ng-switch-when="sass" ng-class="{selected: file == vm.dynFile}" ng-mouseover="vm.hoverItem[$index] = true" ng-mouseleave="vm.hoverItem[$index] = false">
                    <i class="sass icon-css3-01"></i><a href="" ng-click="vm.setEditorValue(file)">{{file.name}}</a>
                    <div class="pull-right" ng-show="vm.hoverItem[$index] || file == vm.dynFile">
                        <a href="" ng-click="vm.deleteFile($index)"><i class="delete icon-cancel"></i></a>
                    </div>
                </div>
                <div ng-switch-when="scss" ng-class="{selected: file == vm.dynFile}" ng-mouseover="vm.hoverItem[$index] = true" ng-mouseleave="vm.hoverItem[$index] = false">
                    <i class="scss icon-css3-01"></i><a href="" ng-click="vm.setEditorValue(file)">{{file.name}}</a>
                    <div class="pull-right" ng-show="vm.hoverItem[$index] || file == vm.dynFile">
                        <a href="" ng-click="vm.deleteFile($index)"><i class="delete icon-cancel"></i></a>
                    </div>
                </div>
                <div ng-switch-when="coffee" ng-class="{selected: file == vm.dynFile}" ng-mouseover="vm.hoverItem[$index] = true" ng-mouseleave="vm.hoverItem[$index] = false">
                    <i class="coffee icon-prog-coffeescr"></i><a href="" ng-click="vm.setEditorValue(file)">{{file.name}}</a>
                    <div class="pull-right" ng-show="vm.hoverItem[$index] || file == vm.dynFile">
                        <a href="" ng-click="vm.deleteFile($index)"><i class="delete icon-cancel"></i></a>
                    </div>
                </div>
                <div ng-switch-when="md" ng-class="{selected: file == vm.dynFile}" ng-mouseover="vm.hoverItem[$index] = true" ng-mouseleave="vm.hoverItem[$index] = false">
                    <i class="md icon-markdown"></i><a href="" ng-click="vm.setEditorValue(file)">{{file.name}}</a>
                    <div class="pull-right" ng-show="vm.hoverItem[$index] || file == vm.dynFile">
                        <a href="" ng-click="vm.deleteFile($index)"><i class="delete icon-cancel"></i></a>
                    </div>
                </div>
                <div ng-switch-when="markdown" ng-class="{selected: file == vm.dynFile}" ng-mouseover="vm.hoverItem[$index] = true" ng-mouseleave="vm.hoverItem[$index] = false">
                    <i class="markdown icon-markdown"></i><a href="" ng-click="vm.setEditorValue(file)">{{file.name}}</a>
                    <div class="pull-right" ng-show="vm.hoverItem[$index] || file == vm.dynFile">
                        <a href="" ng-click="vm.deleteFile($index)"><i class="delete icon-cancel"></i></a>
                    </div>
                </div>
                <div ng-switch-when="jade" ng-class="{selected: file == vm.dynFile}" ng-mouseover="vm.hoverItem[$index] = true" ng-mouseleave="vm.hoverItem[$index] = false">
                    <i class="jade icon-html5-01"></i><a href="" ng-click="vm.setEditorValue(file)">{{file.name}}</a>
                    <div class="pull-right" ng-show="vm.hoverItem[$index] || file == vm.dynFile">
                        <a href="" ng-click="vm.deleteFile($index)"><i class="delete icon-cancel"></i></a>
                    </div>
                </div>
                <div ng-switch-when="styl" ng-class="{selected: file == vm.dynFile}" ng-mouseover="vm.hoverItem[$index] = true" ng-mouseleave="vm.hoverItem[$index] = false">
                    <i class="styl icon-css3-01"></i><a href="" ng-click="vm.setEditorValue(file)">{{file.name}}</a>
                    <div class="pull-right" ng-show="vm.hoverItem[$index] || file == vm.dynFile">
                        <a href="" ng-click="vm.deleteFile($index)"><i class="delete icon-cancel"></i></a>
                    </div>
                </div>
            </div>

            <br/>
            <div id="newfileform">
                <form name="myForm" ng-submit="vm.addNewFile(vm.newFile)" ng-show="vm.addNew" novalidate>
                    <div class="alert alert-danger fade in" ng-show="!myForm.filename.$pristine && myForm.filename.$invalid">
                        <span ng-show="myForm.filename.$error.required">Filename is required.</span>
                        <span ng-show="myForm.filename.$error.pattern">File extension not supported.</span>
                        <span ng-show="myForm.filename.$error.used">File cannot be added. File with this name already exists.</span>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : myForm.filename.$invalid && !myForm.filename.$pristine }">
                        <input name="filename" placeholder="enter filename" type="text" ng-model="vm.newFile" ng-pattern="vm.fileTypes" ui-validate="{used : 'vm.fileExists($value)' }"
                            class="form-control input-sm" required autofocus>
                    </div>
                    <button type="submit" ng-disabled="myForm.$invalid" class="btn btn-primary btn-sm">Save</button>
                    <button type="button" ng-click="vm.addNew = false;" class="btn btn-default btn-sm">Cancel</button>
                    <br/> <br/>
                    <div class="alert alert-info">
                        <strong>Valid file types:</strong> html, css, js, less, sass, scss, coffee, md, markdown, styl
                    </div>
                </form>
                <a href="" id="aNewFile" ng-click="vm.addNew = true;" ng-hide="vm.addNew"><i class="icon-plus-squared"></i> New File</a>
            </div>


            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><i class="icon-cog"></i>Settings</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <span><i class="icon-mobile mobile"></i> <input type="number" style="width:80px;" ng-model="vm.settings.mobile" ng-pattern="/^\d+$/">px</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span><i class="icon-tablet tablet"></i> <input type="number" style="width:80px;" ng-model="vm.settings.tablet" ng-pattern="/^\d+$/">px</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span><i class="icon-laptop laptop"></i> <input type="number" style="width:80px;" ng-model="vm.settings.laptop" ng-pattern="/^\d+$/">px</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span><i class="icon-desktop desktop"></i> <input type="number" style="width:80px;" ng-model="vm.settings.desktop" ng-pattern="/^\d+$/">px</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span><i class="icon-arrows-cw"></i> <input type="number" style="width:70px;" ng-model="vm.settings.preview_delay" ng-pattern="/^\d+$/">ms
                                         Auto <input type="checkbox" ng-model="vm.settings.auto_refresh"></span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><i class="icon-user"></i>About</a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        - By <a href="http://abhijitdarji.github.io/" target="_blank">Abhijit R Darji</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="ui-layout-center">
            <div class="ui-layout-west">
                <div class="editor">
                    <textarea ui-codemirror="{ onLoad : vm.codemirrorLoaded }" ui-codemirror-opts="vm.editorOptions" id="htmlTxt" ng-model="vm.dynFile.value"
                        ng-model-options="vm.modelOptions"></textarea>
                </div>
            </div>
            <div id="prevCenter" class="ui-layout-center">
                <div class="previewer">
                    <iframe class="previewer-iframe" src="about:blank" compile="vm.dynFile.value" id="preview" width="100%" height="100%" scrolling="auto"
                        frameborder="0"></iframe>
                </div>
            </div>
        </div>

    </div>

    <!-- build:js js/app.js -->
    <script type="text/javascript" src="scripts/app.js"></script>
    <script type="text/javascript" src="scripts/compile.service.js"></script>
    <script type="text/javascript" src="scripts/compile.directive.js"></script>
    <script type="text/javascript" src="scripts/app.controller.js"></script>
    <!-- endbuild -->
</body>

</html>
