body{
    font-size: 14px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.navbar-fixed-top{
    border-bottom: 1px solid darkslategrey;
}
#CodeContainer {
    background: #999;
    position: absolute;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 0;
}

.editor {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
}
.previewer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.ui-layout-center,
.ui-layout-west{
    padding: 0;
}
#menu.ui-layout-pane-west{
    padding: 5px;
}

/*icon colors*/
.html{
    color: darkorange;
}
.css{
    color: deepskyblue;
}
.sass .scss{
    color: palevioletred;
}
.less{
    color: cornflowerblue;
}
.md .markdown{
    color: saddlebrown;
}
.jade{
    color: aqua;
}
.js {
    color: lightsalmon;
}
.styl{
    color: lawngreen;
}
.ts{
    color: blue;
}
.coffee{
    color: sandybrown;
}
.json{
    color: darkgreen;
    margin-left: .2em;
    margin-right: .2em;
}
.json:before{
    content:"{ ";
    font-style: normal;
    font-weight: bold;
}
.json:after{
    content:"}";
    font-style: normal;
    font-weight: bold;
}
.edit{
    color: green;
}
.delete{
    color: red;
}
.mobile .tablet .laptop .desktop{
    color: black;
}
.newwindow{
    color: darkblue;
}
.download{
    color: forestgreen;
}
.delete-wrk{
    float:right;
    padding-right:8px;
    background-color: red;
    cursor: pointer;
}
.delete-wrk i{
    color: white;
}


/*form alert*/
.alert {
  padding: 5px;
  font-size: 12px;
}


/*selected file*/
.selected{
    background-color: lightslategrey;
    margin: 0 -5px 0 -5px;
    padding: 2px 5px 2px 5px;
}
.selected a{
    color: white;
    text-decoration: none;
}

/*settings menu*/
#newfileform{
    margin-bottom: 80px;
}
#accordion {
    position: fixed;
    bottom: 0;
    width: 95%;
    z-index: 9999 !important;
}
.panel{
    background-color: lightslategray;
        margin: 0 -5px 0 -5px;
    padding: 2px 5px 2px 5px;
}
.panel-default > .panel-heading{
    background-color: inherit;
    border-radius: 0;
    padding: 5px 5px;
    color: #fff;
}
.panel-title{
    font-size: 12px;
}
.panel-group{
    margin-bottom: 2px;
}
.panel-group .panel{
    border-radius: 0;
}
.panel-group .panel + .panel{
    margin-top: 0;
}
.panel-body{
    padding: 0;
    background-color: #fff;
}


/*SNIPPETS MEGA MENU STYLES*/
.navbar .popover {
    /*width: 600px;*/
    -webkit-border-top-left-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    overflow: auto;
}

/*.navbar .popover-content {
    text-align: center;
}*/

/*.navbar .popover-content img {
    height: 212px;
    max-width: 250px;
}*/

.navbar .dropdown-menu.mega {
    -webkit-border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;

    -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.navbar .dropdown-menu.mega > li > a:hover {
    background-image: none;
    color: white;
    background-color: rgb(0, 129, 194);
    background-color: rgba(0, 129, 194, 0.5);
}

.navbar .dropdown-menu.mega > li > a.maintainHover {
    color: white;
    background-color: #0081C2;
}



/*.dropdown-large {
  position: static !important;
}
.dropdown-menu-large {
  margin-left: 16px;
  margin-right: 16px;
  padding: 20px 0px;
}*/
.dropdown-menu-large > li > ul {
  padding: 0;
  margin: 0;
}
.dropdown-menu-large > li .popover-content  ul > li {
  list-style: none;
}
.dropdown-menu-large > li .popover-content  ul > li > a {
  display: block;
  padding: 3px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: normal;
}
.dropdown-menu-large > li .popover-content  ul.row {
  margin-left: -75px;
}
.dropdown-menu-large > li .popover-content  ul > li {
  padding-left: 0;
  padding-right: 0;
}
.dropdown-menu-large > li .popover-content  ul > li > a {
  font-size: 12px;
}

.dropdown-menu-large > li ul > li > a:hover,
.dropdown-menu-large > li ul > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}
.dropdown-menu-large .disabled > a,
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
  color: #999999;
}
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}
.dropdown-menu-large .dropdown-header {
  color: #428bca;
  font-size: 14px;
}
@media (max-width: 768px) {
  .dropdown-menu-large {
    margin-left: 0 ;
    margin-right: 0 ;
  }
  .dropdown-menu-large > li {
    margin-bottom: 30px;
  }
  .dropdown-menu-large > li:last-child {
    margin-bottom: 0;
  }
  .dropdown-menu-large .dropdown-header {
    padding: 3px 15px !important;
  }
}

/*MULTI LEVEL DROPDOWN*/
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

li.dropdown-delicon > div.row{
    clear: both;
    padding:3px 20px;
}
li.dropdown-delicon > div.row:focus, li.dropdown-delicon > div.row:hover{
    color:#262626;
    background-color:#f5f5f5
}
li.dropdown-delicon > div.row a{
    text-decoration:none;
}

/* DROPDOWN SLIDE*/
.tools{
    position:absolute;
    top:0;
    right:0;
    float:right;
    z-index:99;
    opacity: 0.7;
}
.tools:hover{
    opacity: 1;
}

.tools .open > .dropdown-menu {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);

}
.tools .open > .dropdown-menu li a {
  color: #000;  
}
.tools .dropdown-menu li a{
  color: #fff;
}
.tools .dropdown-menu li > div{
  padding-left:20px;
}

.tools .dropdown-menu {
  -webkit-transform-origin: top;
  transform-origin: top;
  -webkit-animation-fill-mode: forwards;  
  animation-fill-mode: forwards; 
  -webkit-transform: scale(1, 0);
  transform: scale(1, 0);
  display: block;
  right:0;
  left:auto;
  
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
}
.tools .dropup .dropdown-menu {
  -webkit-transform-origin: bottom;
  transform-origin: bottom;  
}

/*.tools .navbar .nav > li > .dropdown-menu:after {

}*/
.tools .dropup > .dropdown-menu:after {
  border-bottom: 0;
  border-top: 6px solid rgba(39, 45, 51, 0.9);
  top: auto;
  display: inline-block;
  bottom: -6px;
  content: '';
  position: absolute;
  left: 50%;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}