body{
    font-size: 14px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
.navbar-fixed-top{
    border-bottom: 1px solid darkslategrey;
}
#CodeContainer {
    background: #999;
    position: absolute;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 0;
}

.editor,
.previewer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
}

.previewer .previewer-iframe.iphone {
    width: 480px;
}

.previewer .previewer-iframe.desktop {
    width: 100%;
}

.ui-layout-center,
.ui-layout-west{
    padding: 0;
}
#menu.ui-layout-pane-west{
    padding: 5px;
}

/*icon colors*/
.html{
    color: darkorange;
}
.css{
    color: deepskyblue;
}
.sass .scss{
    color: palevioletred;
}
.less{
    color: cornflowerblue;
}
.md .markdown{
    color: saddlebrown;
}
.jade{
    color: aqua;
}
.js {
    color: lightsalmon;
}
.styl{
    color: lawngreen;
}
.coffee{
    color: sandybrown;
}
.edit{
    color: green;
}
.delete{
    color: red;
}
.mobile .tablet .laptop .desktop{
    color: black;
}
.newwindow{
    color: darkblue;
}
.download{
    color: forestgreen;
}


/*form alert*/
.alert {
  padding: 5px;
  font-size: 12px;
}

/*selected file*/
.selected{
    background-color: lightslategrey;
    margin: 0 -5px 0 -5px;
    padding: 2px 5px 2px 5px;
}
.selected a{
    color: white;
    text-decoration: none;
}
